body    {

        background-color: antiquewhite;
        margin: 20px;

}

h1      {
        color: maroon;
}

h2      {
        color: blue;
}

P       {
        color: purple;
        font-size: x-large;
}